@import url('https://fonts.googleapis.com/css2?family=Karla&family=Titillium+Web&display=swap');


.questionCard {

    scale: 0.8;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: 0.4s;

}

.questionCard:hover{

    scale: 0.85;
    transition: 0.4s;
}

.questionCard > img {
    margin: auto;
    width: 250px;
    height: 250px;
    object-fit:cover;
    border-radius: 20px;

}

.question > h1 {
    margin: auto;
    font-family: Titillium Web;

}

.questionCard > h1 {
    font-size: xx-large;
    margin: auto;
    width: 240px;
    line-height: 32px;
    height: 120px;
    font-family: Karla;
}
.questionCard > div > h5 {
    margin-bottom: 2px;
    line-height: 5px;
    height: 5px;
}
.questionCard > div {
    line-height: 5px;
    height: 5px;
    justify-content: center;
}

.qc-stars {

    display: flex;
    flex-direction: row;

}

.question > div {
    margin: auto;
    display: flex;
    flex-direction: row;

}